<!DOCTYPE html>
<html>
<head>
  <title>GitLab Profile</title>
</head>
<body>
  <h1>Welcome, <%= profile.name %></h1>
  <p><b>Username:</b> <%= profile.username %></p>
  <p><b>id:</b> <%= profile.id %></p>
  <p><b>Email:</b> <%= profile.email %></p>
  <img src="<%= profile.avatar_url %>" width="100" />
  <p><b>Last activity on:</b> <%= profile.last_activity_on %></p>
</body>
</html>
